<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Miniuze</title>
  <!-- main css -->
  <%= stylesheet_link_tag 'pages' %>
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="70">

<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu" id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h mt-4" href="support.html">
          <%= image_tag 'logo.png' %>
        </a>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="home_banner_area" id="home">
  <div class="banner_inner">
    <div class="container">
      <div class="row banner_content">
        <div class="col-lg-8">
          <h2>Sorry for the hassle<br/>We're working on something amazing ...</h2>
          <p>
            For now, you can contact us on e-mail:
          </p>
          <a href="mailto:info@miniuze.com">support@miniuze.com</a>
        </div>
        <div class="col-lg-4">
          <div class="banner_map_img">
            <%= image_tag 'banner/right-mobile.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--================ start footer Area  =================-->
<footer class="footer-area">
  <div class="container">

    <div class="row footer-bottom d-flex justify-content-between align-items-center">
      <p class="col-lg-8 col-md-8 footer-text m-0">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
      href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </div>
  </div>
</footer>
<!--================ End footer Area  =================-->

</body>
</html>